[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

asgiref = ""
autopep8 =""
dj-database-url =""
Django =""
gunicorn =""
pycodestyle =""
python-decouple =""
pytz =""
sqlparse =""
toml =""
Unipath =""
whitenoise =""

# new
qrcode = ""
pillow = ""
apscheduler = ""
# django-apscheduler = "" ไม่เอา
dateutil = ""

# redis-server==3.2.0, 3.0.5
# channels==3.0.5
# channels-redis==2.4.2
# celery
# django-celery-results
# django-celery-beat
# asyncio

[requires]
python_version = "3"
