

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                  href="https://appseed.us/admin-dashboards/django-dashboard-material">
                    QRCode Application
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL">mfec.co.th</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://www.google.co.th/">Thanakit .J</a>
          </div>
        </div>
    </footer>
