{% extends "layouts/base.html" %}

{% block title %} UI Notic {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
:root {
    --color-dark: #212121;
    --color-text: var(--color-dark);
    --size-bezel: .5rem;
    --size-radius: 4px;
    --text: #FFFFFF;
    --slider: #E0E0E0; 
    --shadow: #0000001a;

    color: var(--color-text);

    --col-1-up: #70A7FF;
    --col-1: #3A86FF;
    --col-1-down: #0056E0;
}
.card {
    padding-bottom: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    border: 3px solid var(--color-shadow, currentColor);
    box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
}
table {
    width: 70%;
    margin: auto;
    background-color: white;
    border-collapse: collapse; 
}

th.highlight div.bod {
    padding:0;
    width: 4px;
    transition: all 0.2s ease-in-out;
}

tr {
    border: 1px solid transparent;
    z-index: 7;
}

td {
    padding: 20px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
td.highlight {
    padding:0;
    width: 4px;
}
td.highlight div.bod {
    width: 4px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}
tr:hover {
    box-shadow: 0px 9px 4px -6px #57595D;
}
tr:hover td{
    cursor:pointer;
    color: #959596;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

tr:hover td.highlight div.bod {
    transform: scaleX(3);
}

.switch  {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1.2rem;
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer; 
    background-color: var(--slider);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.5rem;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';
    background-color: var(--text);
    height: .95rem;
    width: .95rem;
    left: .125rem;
    bottom: .125rem;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(.85rem);
    -ms-transform: translateX(.85rem);
    transform: translateX(.85rem);
}

/* input:checked + .slider-1 {
    background-color: var(--col-1);
} */

input:checked + .slider-1 {
    background-color: var(--col-1);
    /* box-shadow:
    .01rem -.01rem 0.5rem 0 var(--col-1-down),
    0.5rem 0.5rem 1.25rem 0 var(--shadow),
    0.25rem 0.25rem 0.5rem 0 var(--shadow); */
}
input:checked + .slider-1:before {
    background: var(--col-1-down);
}

</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Notifications Profile</h4>
                <p class="card-category">Notifications Company Profile was expired !!</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable">
                        <thead>
                            <th class="highlight"><div class="bod"></div></th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                Feed
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                Userid
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                Customer
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                Job Description
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                End Date
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                Timing
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                Vote Star
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                Vote Status
                            </th>
                            <th style="font-weight:bold; font-size: 15px; color:#212121;">
                                updated
                            </th>
                            <th class="highlight"><div class="bod"></div></th>
                        </thead>
                        <tbody>
                            {% for model in model %}
                            <tr>
                                <td class="highlight"><div class="bod"></div></td>
                                <td class="td-actions text-left">
                                    <label class="switch switch-1" for="{{ model.userid }}">
                                        <input class="notice" type="checkbox" name="{{ model.userid }}" id="{{ model.userid }}" value="{{ model.expired }}" data-url="/ui-notic/{{model.userid}}">
                                        <span class="slider round slider-1"></span>
                                    </label>
                                </td>
                                <td> {{ model.userid|safe }}</td>
                                <td> {{ model.company_name|safe }}</td>
                                <td> {{ model.job_id|safe }} </td>
                                <td> {{ model.end_date|safe }}</td>
                                <td><span></span></td>
                                <td>{{ model.vote_star|safe}}</td>
                                <td> {{ model.vote_status|safe }} </td>
                                <td> {{ model.updated|safe}} </td>
                                <td><div class="bod"></div></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
<script src="/static/assets/js/core/styles.js"></script>

<script>

    $(document).ready(function() {

        var table = document.getElementById("dataTable");

        var x = setInterval(
        function () {

        for (var i = 1, row; row = table.rows[i]; i++) {
            var endDate = row.cells[5];
            countDownDate = new Date(endDate.innerHTML.replace(/-/g, "/")).getTime();
            var countDown = row.cells[6];
            var now = new Date().getTime();

            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            countDown.innerHTML = (days + "d  " + hours + "h  " + minutes + "m  " + seconds + "s ");

            var vote = row.cells[7];
            switch (vote.innerText) {
                case '3':
                vote.innerHTML =  '<i class="fa fa-star" aria-hidden="true">&nbsp;</i><i class="fa fa-star" aria-hidden="true"></i>&nbsp;</i><i class="fa fa-star" aria-hidden="true"></i>'
                break;
                case '2':
                vote.innerHTML =  '<i class="fa fa-star" aria-hidden="true"></i>&nbsp;</i><i class="fa fa-star" aria-hidden="true"></i>'
                break;
                case '1':
                vote.innerHTML =  '</i><i class="fa fa-star" aria-hidden="true"></i>'
                break;
                case '0':
                vote.innerHTML =  'Timeout..'
                break;
            }

            if (distance < 0) {
                clearInterval(x);
                countDown.innerHTML = "Timeout..";
            } 
                
            for (var j = 0, col; col = row.cells[j]; j++) { 
                
                if (countDown.innerText ==  "Timeout..") {
                    row.cells[1].getElementsByTagName('input')[0].checked = false
                    col.style.color  = "#959596";
                } 
                
            }
        }
        }, 1000);
    });

</script>

{% endblock javascripts %}
